name: PipelineWorkflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Build:
    name: Azure Pipelines
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 
        
      - name: azure Pipelines Action
        uses: Azure/pipeline@v1
        with:
          azure-devops-organization-url: https://dev.azure.com/HimanshuSharma1304
          azure-devops-project-name: 'Application Project'
          azure-pipeline-name: 'fitness_app2'
          azure-devops-token: ${{ secrets.AZURE_DEVOPS_TOKEN }}
          
    

